/* MAIN ––––––––––––––––––––– */
html {overflow-y:scroll;}
body {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#222;
	font-size:16px;
	margin:0;
}
#home {
	display:none;
	width:1000px;
	margin:0 auto;
	padding:0 20px;
	height:570px;
}
p {line-height:24px;}
p a, small a, span.show {text-decoration:none; border-bottom:1px solid # #716f58;}
p a:hover, small a:hover, span.show:hover {border-bottom:1px solid # #716f58; cursor:pointer}
a, span.show {color:# #716f58;}
.clear {clear:both;}
img {border:none;}
img.fade {display:none;}

/* HEADERS ––––––––––––––––––––– */
h1 {
	position:relative;
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:76px;
	text-transform:uppercase;
	text-align:center;
	height:80px;
	padding-top:30px;
}
h2 {
	position:relative;
	top:10px;
	font-size:22px;
	text-align:center;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:22px 0;
}
h3 {
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:20px;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
h4 {
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:16px;
	text-transform:uppercase;
	margin:0;
	padding:0;
	line-height:22px;
}
h5 {
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:48px;
	text-transform:uppercase;
	margin:0;
	margin-bottom:-8px;
	padding:0;
}
h6 {
	font-family:BrandonGrotesque-Light, Futura, Verdana, serif;
	font-size:26px;
	text-transform:uppercase;
	margin:0;
	padding:0;
	color:#999;
}
h2, h3, h4, h5, h6 {font-weight:normal;}

/* TOP ––––––––––––––––––––– */
.top {
	position:relative;
	top:60px;
	width:300px;
	margin:0 auto;
	text-align:center;
}
.top span {
	font-family:BrandonGrotesque-Regular, Futura, Verdana, serif;
	font-size:24px;
	color:#BBB;
	margin-top:42px;
}
.top span.left {width:76px; float:left;}
.top span.right {width:70px; float:right;}

/* NAV ––––––––––––––––––––– */
#nav ul {
	display: inline;
	list-style: none;
	text-align: center;
}
#nav li {
	display:block;
	background-color: #eee;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-color: #bcb890;
	padding: 4px;
	float:left;
	width:220px;
	height:100px;
	margin-top:40px;
	margin-right:29px;
	text-align: center;
}
#nav li.last {margin-right:0;}
#nav h3 {margin-bottom:0; height:26px; color: #bcb890;}
#nav p {margin-top:6px; text-align: center;}
#nav a.disabled {
    color:#111;
    border-bottom-color:0;
	  border-bottom:0;
    cursor:text;
}

/* CONTENT ––––––––––––––––––––– */

.content {
	display: none;
}

#content {
	background-color:#eee;
}
.wrap {
	width:1000px;
	margin:0 auto;
	padding:50px 20px 20px 20px;
}

/* HISTORY ––––––––––––––––––––– */
.about {
	float:left;
	width:460px;
}
.frazzled_image {
	float:right;
	width:420px;
	background-color:#fff;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
	padding:20px 30px;
	margin-top:7px;
}
.frazzled_image ul {
	display:inline;
	list-style:none;
	padding:0;
}
.frazzled_image li {margin-bottom:14px;}
.frazzled_image li.last {margin-bottom:0px;}
.frazzled_image p {margin:0;}
.frazzled_image img {
	float:left;
	margin-right:30px;
	margin-bottom:30px;
	padding-top:16px;
}
.frazzled_image small {
	color:#444;
	display:block;
	padding:6px 0;
	line-height:20px;
}
.team {
	margin-top:50px;
}
.profile {
	float:left;
	position:relative;
	width:300px;
	height:130px;
	margin:0 50px 20px 0;
}
.profile.right {margin-right:0;}
.thumbnail {
	width:100px;
	height:100px;
	border:1px solid #ccc;
	float:left;
	background:#000 no-repeat center center;
}
.thumbnail img {padding:5px;}
.profile h4 {line-height:20px;}
.profile h4, .profile small {margin-left:120px;}
.profile small {
	color:#444;
	display:block;
	padding-top:4px;
	line-height:20px;
}
a.facebook {
	display:none;
	position:absolute;
	padding:4px 5px 1px 5px;
	top:108px; 
	left:18px;
	background-color:#D4D4D4;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:10px;
	font-family:"BrandonGrotesque-Bold";
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
}
a.facebook:hover {
	background-color:#C5C5C5;
	color:#FFF;
}
.ventures {
	float:left;
	width:460px;
	margin-bottom:20px;
}
.research {
	float:right;
	width:460px;
}

/* PRODUCTS ––––––––––––––––––––– */
.product {
  text-align:center;
  margin-top:7px;
}
.product.container {
  background-color:#fff;
  height:420px;
  -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
}
.product img {
  margin-top:-18px;
  margin-bottom:20px;
}
.product h6 {
  height:22px;
}
.versions:hover, .kaleidoscope:hover, .checkout:hover, .enstore:hover {
  cursor:pointer;
}

.versions, .kaleidoscope, .checkout, .enstore {
  height:380px;
}

.product h6.url {
  display: none;
  color:#1b6cf2;
  text-transform:lowercase;
  margin-top:-12px;
}
.product .versions {
  float:left;
  position:relative;
  margin-left:70px;
  width:384px;
}
.product .kaleidoscope {
  float:right;
  position:relative;
  right:85px;
}
.product .checkout {
  float:left;
  position:relative;
  margin-left:100px;
}
.product .enstore {
  float:right;
  position:relative;
  right:100px;
}
.development {
  text-align:center;
  margin-bottom:60px;
}
.development p {color:#bbb; font-size:14px;}
.development a {color:#666; border-bottom:1px solid #bbb;}
.development a:hover {border-bottom:1px solid #666;}

/* FACEBOOK ––––––––––––––––––––– */
.facebook.container {
  width:1000px;
  height:860px;
  background-color:white;
  -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
  margin-top:7px;
  text-align:center;
  margin-bottom:30px;
}
.facebook img {padding:40px 0 20px 0;}
.facebook .left {
  text-align:center;
  float:left;
  width:420px;
  margin:40px 0 0 50px;
	color:#aaa;
}
.black {color:#000}
.facebook .right {
  text-align:center;	
  float:right;
  width:420px;
  margin:40px 50px 0 0;
  color:#aaa;
}

/* FOOTER ––––––––––––––––––––– */
.footer {
	width:1000px;
	float:left;
	text-align:center;
	margin-top:60px;
	margin-bottom:20px;
}
.footer small {
	font-size:12px;
	font-family:"Lucida Grande";
	color:#ccc;
}
#content .footer {margin:0;}
#content .footer small {color:#ccc;}